<!DOCTYPE html>
<html>

<head>
  <title>選擇的結果</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/public/image/icon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <script>
    function initElement() {
      var alert = document.getElementById("sensor");
      alert.onclick = showAlert;
    };
    
    function showAlert(event) {
      var smog = JSON.parse('<%- JSON.stringify(smog) %>');
      var date = JSON.parse('<%- JSON.stringify(searchdate) %>');
      var touchtime = JSON.parse('<%- JSON.stringify(touchtime) %>');
      if(smog.length!=0){
        alert("煙霧感測器觸發狀態: " + date +" \" " + smog +" \"" + '啟動\n' + "觸發時間為: " + touchtime);
      }
      else{
        alert("煙霧感測器觸發狀態: "+ date + " \"無\"啟動");
      }
        
    }
  </script>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <nav>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wrap">
          <div class="resulttitle"><strong><br>--搜尋結果--</strong></div>
          <hr>
          <div class="date1title"><strong>&ensp;查詢日期為</strong>
            <strong class="date1">&nbsp;<%= searchdate %>&nbsp;</strong>
          </div>
          <p class="known">--認識的人--</p>
          <% if(picture1.length!=0){ %>
            <table align="center" valign="center">
              <% for(var i=0; i<picture1.length-2; i+=2) { %>
                <tr>
                  <td>
                    <img src="<%= picture1[i] %>" width="195" height="195">
                  </td>
                  <td>
                    <img src="<%= picture1[i+1] %>" width="195" height="195">
                  </td>
                </tr>
                <tr>
                  <td><strong><a class="content">
                        <%= content1[i] %>
                      </a></strong></td>
                  <td><strong><a class="content">
                        <%= content1[i+1] %>
                      </a></strong></td>
                </tr>
                <% } %>
                  <% if(picture1.length%2==0){ %>
                    <tr>
                      <td>
                        <img src="<%= picture1[picture1.length-2] %>" width="195" height="195">
                      </td>
                      <td>
                        <img src="<%= picture1[picture1.length-1] %>" width="195" height="195">
                      </td>
                    </tr>
                    <tr>
                      <td><strong><a class="content">
                            <%= content1[picture1.length-2] %>
                          </a></strong></td>
                      <td><strong><a class="content">
                            <%= content1[picture1.length-1] %>
                          </a></strong></td>
                    </tr>
                    <% } else {%>
                      <tr>
                        <td>
                          <img src="<%= picture1[picture1.length-1] %>" width="195" height="195">
                        </td>
                      </tr>
                      <tr>
                        <td><strong><a class="content">
                              <%= content1[picture1.length-1] %>
                            </a></strong></td>
                      </tr>
                      <% } %>
            </table>
            <% } else {%>
              <p class="notfound"><strong>找不到認識的資料!!</strong></p>
              <% } %>
                <hr>
                <div class="date1title"><strong>&ensp;查詢日期為</strong>
                  <strong class="date1">&nbsp;<%= searchdate %>&nbsp;</strong>
                </div>
                <p class="unknown">--不認識的人--</p>
                <% if(picture2.length!=0){ %>
                  <table align="center" valign="center">
                    <% for(var i=0; i<picture2.length-2; i+=2) { %>
                      <tr>
                        <td>
                          <img src="<%= picture2[i] %>" width="195" height="195">
                        </td>
                        <td>
                          <img src="<%= picture2[i+1] %>" width="195" height="195">
                        </td>
                      </tr>
                      <tr>
                        <td><strong><a class="content">
                              <%= content2[i] %>
                            
                            </a></strong></td>
                        <td><strong><a class="content">
                              <%= content2[i+1] %>
                              
                            </a></strong></td>
                      </tr>
                      <% } %>
                        <% if(picture2.length%2==0){ %>
                          <tr>
                            <td>
                              <img src="<%= picture2[picture2.length-2] %>" width="195" height="195">
                            </td>
                            <td>
                              <img src="<%= picture2[picture2.length-1] %>" width="195" height="195">
                            </td>
                          </tr>
                          <tr>
                            <td><strong><a class="content">
                                  <%= content2[picture2.length-2] %>
                                  
                                </a></strong></td>
                            <td><strong><a class="content">
                                  <%= content2[picture2.length-1] %>
                                  
                                </a></strong></td>
                          </tr>
                          <% } else {%>
                            <tr>
                              <td>
                                <img src="<%= picture2[picture2.length-1] %>" width="195" height="195">
                              </td>
                            </tr>
                            <tr>
                              <td><strong><a class="content">
                                    <%= content2[picture2.length-1] %>
                                  </a></strong></td>
                            </tr>
                            <% } %>
                  </table>
                  <% } else {%>
                    <div class="notfound"><strong>找不到不認識的資料!!</strong></div>
                    <br>
                    <% } %>
        </div>
      </div>
    </div>
  </nav>
</body>

<body onload="initElement();">
  <nav>
    <div class="wrap">
      <hr>
      <p class="sensortitle">--感測器--</p>
      <div class="sensor"><strong class="date1">
          <%=searchdate %>
        </strong>
        <strong class="date1title">&nbsp;感測器是否啟動</strong>
      </div>
      <div id="btn6">
      <input type="button" id="sensor" class="sensorbtn" value="查看">
     </div>
    </div>
  </nav>
  <form action="http://localhost:8081/history" method="POST">
    <nav>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wrap">
            <div id="btn3">
              <hr>
              <input type="submit" value="回上頁" class="back">
            </div>
          </div>
        </div>
      </div>
    </nav>
  </form>

  <form action="http://localhost:8081/choose" method="POST">
    <nav>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wrap">
            <div id="btn5">
              <input type="submit" value="回到選擇" class="choose">
            </div>
          </div>
        </div>
      </div>
    </nav>
  </form>
  <form action="http://localhost:8081/login" method="POST">
    <nav>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wrap">
            <div id="btn4">
              <input type="submit" value="登出" class="home">
            </div>
          </div>
        </div>
      </div>
    </nav>
  </form>
  <p class="copyright">Copyright &copy; 2021 Eddie Hsu.&ensp;</p>
</body>

</html>